
body {
    padding: 20px;
    background-image:url("Img/main.jpg");
}
.container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 20px;
}

img{

    height: 300px
    
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scalex(-1);
  
}
